<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='sty.css') }}">
<script src="jawa.js"></script> 

<div id='bodybox'>
chatbot for DTE
  <div id='chatborder'>
    <p id="chatlog7" class="chatlog">&nbsp;</p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
	{{ prediction }}
    <p id="chatlog1" class="chatlog">&nbsp;</p>
<!-- Main Input For Receiving Query to our ML -->	
      	<form action="{{ url_for('predict')}}" method="POST">
	 <input type="text" name="namequery" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()>
	  <button type="submit"></button>
	    <p class="card-text"><div class="alert alert-danger" role="alert">
	 </form>
	</div>
	  <br><br>
       </div>
<!-- Main Input For Receiving Query to our ML --> 


